@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply
  ease-in-out
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-cyan-700;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply
  bg-blue-950
  shadow;
}

body {
  @apply
  text-white
  font-medium
  bg-neutral-900
  m-8
  animate-SlideIn
}

.Main_Container {
  @apply
  flex
  flex-col
  justify-center
  items-start
  flex-nowrap
  h-[87vh]
}

/* Nav */
.Nav {
  @apply
  w-full
  h-28
  flex
  flex-col
  justify-center
  items-center
  flex-nowrap
  mb-8

  lg:flex-row
  lg:justify-between
  lg:items-center
  lg:w-4/5
  lg:ml-[10%]
  lg:mb-0
}

.Nav_Link {
  @apply
  mx-4
  m-0
  text-2xl
  tracking-wide
  border-b-4
  border-transparent
  text-slate-300
  transition
  ease-in-out
  duration-500

  lg:ml-20
  lg:mr-0

  hover:border-primary
  hover:text-white
}

.Active {
  @apply
  border-primary
  text-white
}

/* Scroll Component */
.Scroll_Container {
  @apply
  flex
  flex-row
  items-center
  justify-between
  overflow-x-auto
  h-60
  w-full

  lg:w-4/5
  lg:ml-[10%]
}

/* Scroll Tab */
.Scroll_Tab {
  @apply
  bg-primary/80
  shrink-0
  rounded
  m-5
  p-5
  h-44
  w-96
  drop-shadow-md
  flex
  flex-col
  items-start
  justify-start
  transition
  ease-in-out

  lg:mx-10

  hover:drop-shadow-lg
  hover:cursor-pointer
  hover:scale-95
}

.Scroll_Tab h1 {
  @apply
  font-bold
  tracking-wide
  text-blue-950
  text-xl
}

.Scroll_Tab p {
  @apply
  font-normal
  tracking-wide
}

.Scroll_Tab button {
  @apply
  bg-blue-950
  rounded-md
  drop-shadow-md
  px-5
  py-1
  mt-2
  transition
  ease-in-out
  border-2
  border-white

  hover:bg-blue-900
}

/* Reusables */
.Title_Left {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @apply
  text-primary
  font-black
  text-6xl
  tracking-wide
  mt-16
  text-center
  w-full

  lg:ml-[10%]
  lg:w-4/5
  lg:text-9xl
  lg:text-left
}

.Text_Left {
  @apply
  text-xl
  mt-2
  text-center
  leading-8
  font-bold
  tracking-wide

  lg:ml-[10%]
  lg:w-2/5
  lg:text-2xl
  lg:text-left
}

.Button_Left {
  @apply
  text-xl
  bg-blue-950
  border-2
  border-white
  rounded-md
  mt-4
  ml-[10%]
  py-2
  px-4
  transition
  ease-in-out

  hover:bg-blue-900
  hover:cursor-pointer
}

/* Video Container */
.Video_Container {
  @apply
  flex
  flex-col
  items-start
  flex-wrap
  justify-center
  h-96
  w-full
  relative

  lg:w-4/5
  lg:ml-[10%]
  lg:flex-row
}

.Video_Item {
  @apply
  mx-2.5
  flex
  flex-col
  items-start
  justify-start
  mt-4
}

.Video_Thumbnail {
  @apply
  rounded-2xl
  transition
  ease-in-out
  shadow-lg

  hover:cursor-pointer
  hover:shadow-2xl
}

.Video_Details {
  @apply
  flex
  flex-row
  items-start
  justify-between
  mt-1
}

.Video_Details_Main {
  @apply
  mt-2
  ml-2
  w-72
}

.Video_Details_Main h1 {
  @apply
  font-extrabold
  text-xl
}

.Video_Details_Main p {
  @apply
  text-sm
  text-gray-300
}

.Video_Details p:first-of-type {
  @apply
  mt-1
}

.Video_Author_Thumb {
  @apply
  rounded-full
  mt-2

  hover:cursor-pointer
}

.Video_Duration {
  @apply
  bg-gray-950/80
  px-1
  text-sm
  text-right
  float-right
  mr-2
}

.Duration_Container {
  @apply
  w-[350px]
  absolute
  top-[185px]
}