@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply ease-in-out;
}

body {
  background: #333;
  @apply text-white font-medium m-8;
}

h1, h2, h3 {
  @apply font-bold text-primary text-lg;
}

main {
  @apply max-w-5xl my-12 mx-auto px-8;
}

main > h2 {
  @apply mb-4 pb-2 text-base;
}
p > a {
  @apply text-primary underline;
}

/* Navigation */
nav {
  @apply
    pb-4
    border-b-2 border-gray-200
    flex items-center gap-10 
    my-10 mx-auto 
    max-w-5xl
    flex-wrap;
}

nav a, nav span {
  @apply font-medium text-white hover:ease-in-out;
}

nav a:hover {
  @apply font-bold text-primary;
}

nav form {
  @apply
  w-11/12
  lg:w-6/12
  h-8
  text-white
  px-3
  flex items-center gap-3
  ml-2
  md:ml-14
}

nav form input {
  @apply
  w-full
  outline-none
  h-8
  rounded-md
  px-3
  text-black
}

nav form input:focus {
  @apply shadow-lg
}